<form {{action "addDate" this on="submit"}}>
    <div class="input-group">
        {{input type="text" placeholder='Add a date' data-theme="spectre-datedropper"class='form-input'}}
        {{input type="text" placeholder="Add date time" input="updateDate" class='form-input'}}
        <button type="submit" class="btn btn-primary input-group-btn" >
            <i class="icon icon-plus"></i>
        </button>
    </div>
</form>
